/** @import must precede all other statements */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /**
   * Tailwind CSS theme
   * tailwind.config.ts expects the following color variables to be expressed as HSL values.
   * A different format will require also updating the theme in tailwind.config.ts.
  */
  :root {
    --background: 36 100% 98.8%;
    --foreground: 212.5 40% 20%;

    --card: 36 100% 100%;
    --card-foreground: 212.5 40% 20%;

    --popover: 36 100% 100%;
    --popover-foreground: 212.5 40% 20%;

    --primary: 212.5 48.6% 34%;
    --primary-foreground: 36 100% 98.8%;

    --secondary: 31.1 80% 90%;
    --secondary-foreground: 212.5 48.6% 34%;

    --muted: 145.6 23.2% 54.9%;
    --muted-foreground: 212.5 30% 40%;

    --accent: 10.7 82.2% 56%;
    --accent-foreground: 36 100% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 31.1 80% 90%;
    --input: 31.1 80% 90%;
    --ring: 10.7 82.2% 56%;

    --radius: 0.5rem;

    --sidebar-background: 36 100% 98.8%;

    --sidebar-foreground: 212.5 40% 20%;

    --sidebar-primary: 212.5 48.6% 34%;

    --sidebar-primary-foreground: 36 100% 98.8%;

    --sidebar-accent: 10.7 82.2% 56%;

    --sidebar-accent-foreground: 36 100% 100%;

    --sidebar-border: 31.1 80% 90%;

    --sidebar-ring: 10.7 82.2% 56%;
  }

  .dark {
    --background: 212.5 48.6% 20%;
    --foreground: 36 100% 98.8%;

    --card: 212.5 48.6% 25%;
    --card-foreground: 36 100% 98.8%;

    --popover: 212.5 48.6% 25%;
    --popover-foreground: 36 100% 98.8%;

    --primary: 36 100% 98.8%;
    --primary-foreground: 212.5 48.6% 34%;

    --secondary: 145.6 23.2% 54.9%;
    --secondary-foreground: 36 100% 98.8%;

    --muted: 212.5 30% 55%;
    --muted-foreground: 36 100% 88%;

    --accent: 10.7 82.2% 56%;
    --accent-foreground: 36 100% 100%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 212.5 30% 35%;
    --input: 212.5 30% 35%;
    --ring: 10.7 82.2% 56%;
    --sidebar-background: 212.5 48.6% 20%;
    --sidebar-foreground: 36 100% 98.8%;
    --sidebar-primary: 10.7 82.2% 56%;
    --sidebar-primary-foreground: 36 100% 100%;
    --sidebar-accent: 145.6 23.2% 54.9%;
    --sidebar-accent-foreground: 36 100% 98.8%;
    --sidebar-border: 212.5 30% 35%;
    --sidebar-ring: 10.7 82.2% 56%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  :where(p, span, li, h1, h2, h3, h4, h5, h6, a, button, label, td, th) {
    overflow-wrap: anywhere;
    word-break: break-word;
  }

  pre,
  code {
    overflow-x: auto;
    white-space: pre;
  }
}
